In [6]:
import pandas as pd
df=pd.read_csv('/content/📝 30 Pandas Practice Questions.csv')
df.head(5)

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5
1,2,Leena,HR,Male,38,53938.0,2019-02-27,Pune,4.1,4.8
2,3,Ajay,IT,Male,41,53664.0,2025-01-11,Bengaluru,7.5,3.6
3,4,Shreya,Marketing,Female,25,31636.0,2024-02-16,Pune,9.1,4.9
4,5,Kavya,IT,Male,26,50080.0,2021-09-22,Bengaluru,9.0,4.9

**Create a new column Tax = 10% of Salary.**

In [9]:
df['Tax']=df['Salary']*0.10
df

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating,Tax
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5,7441.7
1,2,Leena,HR,Male,38,53938.0,2019-02-27,Pune,4.1,4.8,5393.8
2,3,Ajay,IT,Male,41,53664.0,2025-01-11,Bengaluru,7.5,3.6,5366.4
3,4,Shreya,Marketing,Female,25,31636.0,2024-02-16,Pune,9.1,4.9,3163.6
4,5,Kavya,IT,Male,26,50080.0,2021-09-22,Bengaluru,9.0,4.9,5008.0
5,6,Veer,Finance,Female,44,57728.0,2022-07-04,NaN,8.0,4.6,5772.8
6,7,Vikas,Finance,Male,28,79850.0,2024-03-19,NaN,6.8,3.2,7985.0
7,8,Nisha,Finance,Female,34,56736.0,2024-07-13,Kolkata,1.8,3.5,5673.6
8,9,Yash,Finance,Male,36,58673.0,2018-08-26,Bengaluru,2.5,4.6,5867.3
9,10,Pooja,Marketing,Male,32,67505.0,2019-08-23,Pune,9.1,3.3,6750.5
10,11,Manoj,Sales,Female,25,77323.0,2018-12-10,Jaipur,6.5,2.9,7732.3
11,12,Karan,HR,Female,34,76645.0,2017-02-11,Kolkata,1.1,3.9,7664.5
12,13,Ira,Finance,Female,28,30854.0,2022-12-16,Pune,1.9,4.8,3085.4
13,14,Varun,IT,Male,40,54548.0,2019-06-09,Delhi,7.0,4.2,5454.8
14,15,Priya,Finance,Female,43,68623.0,2017-12-17,NaN,1.0,3.9,6862.3
15,16,Aman,IT,Male,23,37392.0,2020-04-21,Jaipur,2.4,2.7,3739.2
16,17,Naina,IT,Male,31,85680.0,2018-12-18,Jaipur,5.9,4.0,8568.0
17,18,Tarun,Finance,Female,34,NaN,2022-09-23,Kolkata,7.2,5.0,NaN
18,19,Uma,Marketing,Female,42,84401.0,2024-03-15,Mumbai,6.9,2.9,8440.1
19,20,Anita,IT,Male,27,51556.0,2019-10-17,Jaipur,3.0,3.8,5155.6
20,21,Meena,IT,Male,33,80859.0,2021-11-10,Delhi,7.4,4.7,8085.9
21,22,Deepak,Finance,Female,33,68559.0,2022-11-27,Bengaluru,3.1,NaN,6855.9
22,23,Nikhil,IT,Female,41,56309.0,2021-09-25,Pune,3.9,4.2,5630.9
23,24,Vivek,IT,Female,32,51919.0,2017-11-22,Delhi,7.7,NaN,5191.9
24,25,Bhavna,Finance,Male,44,NaN,2019-06-11,Delhi,6.8,3.4,NaN
25,26,Rahul,Finance,Male,28,82662.0,2018-01-27,Mumbai,8.6,3.2,8266.2
26,27,Raj,HR,Male,22,62970.0,2020-06-16,Kolkata,6.9,4.5,6297.0
27,28,Komal,Marketing,Male,22,74215.0,2022-02-26,Kolkata,6.1,4.5,7421.5
28,29,Tanvi,Marketing,Male,41,83370.0,2019-05-07,Chennai,1.8,4.7,8337.0
29,30,Neha,IT,Male,34,42688.0,2023-03-17,Mumbai,4.3,4.8,4268.8
30,31,Priti,Marketing,Female,30,55342.0,2024-01-31,Bengaluru,3.4,3.8,5534.2
31,32,Tina,IT,Male,24,67157.0,2024-01-08,Kolkata,3.2,3.8,6715.7
32,33,Hemant,HR,Male,28,32327.0,2018-12-30,Pune,9.8,4.5,3232.7
33,34,Sneha,Finance,Male,27,NaN,2020-02-15,Jaipur,4.5,4.1,NaN
34,35,Divya,Finance,Female,29,82083.0,2023-03-26,Mumbai,9.0,4.3,8208.3
35,36,Arjun,Finance,Male,30,70545.0,2022-11-01,Jaipur,6.7,4.5,7054.5
36,37,Payal,Marketing,Male,26,30197.0,2024-08-09,Delhi,8.2,4.7,3019.7
37,38,Gauri,HR,Female,22,53509.0,2017-06-19,Pune,5.5,3.3,5350.9
38,39,Simran,Marketing,Male,40,64698.0,2023-10-05,Pune,6.2,NaN,6469.8
39,40,Mohan,Marketing,Male,31,74542.0,2023-01-17,Delhi,5.4,2.7,7454.2
40,41,Ravi,HR,Male,33,45087.0,2017-04-02,Mumbai,2.8,3.9,4508.7
41,42,Mohit,HR,Male,36,52671.0,2017-04-28,Delhi,7.5,2.6,5267.1
42,43,Suresh,HR,Male,43,NaN,2022-11-02,Jaipur,3.5,3.7,NaN
43,44,Zoya,HR,Female,30,57848.0,2019-12-18,Chennai,1.2,3.9,5784.8
44,45,Abhishek,Finance,Female,41,72107.0,2024-02-23,Pune,6.8,3.2,7210.7
45,46,Isha,Sales,Female,38,50666.0,2024-03-03,Hyderabad,2.6,4.0,5066.6
46,47,Omkar,Sales,Male,38,74357.0,2024-06-28,Hyderabad,9.5,NaN,7435.7
47,48,Rohit,HR,Male,41,81663.0,2019-11-05,NaN,9.6,2.6,8166.3
48,49,Sanjay,Sales,Male,33,NaN,2024-09-13,Bengaluru,9.2,NaN,NaN
49,50,Jatin,Sales,Female,28,56370.0,2020-03-17,NaN,4.3,3.4,5637.0

**Create a new column Experience_Level = "Junior" if Experience < 3 else "Senior".**

In [12]:
df['Experienxe_level']=df['Experience'].apply(lambda x:"Junior" if x < 3 else "Senior")
df.head(10)

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating,Tax,Experienxe_level
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5,7441.7,Senior
1,2,Leena,HR,Male,38,53938.0,2019-02-27,Pune,4.1,4.8,5393.8,Senior
2,3,Ajay,IT,Male,41,53664.0,2025-01-11,Bengaluru,7.5,3.6,5366.4,Senior
3,4,Shreya,Marketing,Female,25,31636.0,2024-02-16,Pune,9.1,4.9,3163.6,Senior
4,5,Kavya,IT,Male,26,50080.0,2021-09-22,Bengaluru,9.0,4.9,5008.0,Senior
5,6,Veer,Finance,Female,44,57728.0,2022-07-04,NaN,8.0,4.6,5772.8,Senior
6,7,Vikas,Finance,Male,28,79850.0,2024-03-19,NaN,6.8,3.2,7985.0,Senior
7,8,Nisha,Finance,Female,34,56736.0,2024-07-13,Kolkata,1.8,3.5,5673.6,Junior
8,9,Yash,Finance,Male,36,58673.0,2018-08-26,Bengaluru,2.5,4.6,5867.3,Junior
9,10,Pooja,Marketing,Male,32,67505.0,2019-08-23,Pune,9.1,3.3,6750.5,Senior

**Extract Year and Month from JoiningDate**

In [23]:
df['JoiningDate']=pd.to_datetime(df['JoiningDate'])
df['join_year']=df['JoiningDate'].dt.year
df['join_month']=df['JoiningDate'].dt.month
df

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating,Tax,Experienxe_level,join_year,koin_month,join_month
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5,7441.7,Senior,2017,5,5
1,2,Leena,HR,Male,38,53938.0,2019-02-27,Pune,4.1,4.8,5393.8,Senior,2019,2,2
2,3,Ajay,IT,Male,41,53664.0,2025-01-11,Bengaluru,7.5,3.6,5366.4,Senior,2025,1,1
3,4,Shreya,Marketing,Female,25,31636.0,2024-02-16,Pune,9.1,4.9,3163.6,Senior,2024,2,2
4,5,Kavya,IT,Male,26,50080.0,2021-09-22,Bengaluru,9.0,4.9,5008.0,Senior,2021,9,9
5,6,Veer,Finance,Female,44,57728.0,2022-07-04,NaN,8.0,4.6,5772.8,Senior,2022,7,7
6,7,Vikas,Finance,Male,28,79850.0,2024-03-19,NaN,6.8,3.2,7985.0,Senior,2024,3,3
7,8,Nisha,Finance,Female,34,56736.0,2024-07-13,Kolkata,1.8,3.5,5673.6,Junior,2024,7,7
8,9,Yash,Finance,Male,36,58673.0,2018-08-26,Bengaluru,2.5,4.6,5867.3,Junior,2018,8,8
9,10,Pooja,Marketing,Male,32,67505.0,2019-08-23,Pune,9.1,3.3,6750.5,Senior,2019,8,8
10,11,Manoj,Sales,Female,25,77323.0,2018-12-10,Jaipur,6.5,2.9,7732.3,Senior,2018,12,12
11,12,Karan,HR,Female,34,76645.0,2017-02-11,Kolkata,1.1,3.9,7664.5,Junior,2017,2,2
12,13,Ira,Finance,Female,28,30854.0,2022-12-16,Pune,1.9,4.8,3085.4,Junior,2022,12,12
13,14,Varun,IT,Male,40,54548.0,2019-06-09,Delhi,7.0,4.2,5454.8,Senior,2019,6,6
14,15,Priya,Finance,Female,43,68623.0,2017-12-17,NaN,1.0,3.9,6862.3,Junior,2017,12,12
15,16,Aman,IT,Male,23,37392.0,2020-04-21,Jaipur,2.4,2.7,3739.2,Junior,2020,4,4
16,17,Naina,IT,Male,31,85680.0,2018-12-18,Jaipur,5.9,4.0,8568.0,Senior,2018,12,12
17,18,Tarun,Finance,Female,34,NaN,2022-09-23,Kolkata,7.2,5.0,NaN,Senior,2022,9,9
18,19,Uma,Marketing,Female,42,84401.0,2024-03-15,Mumbai,6.9,2.9,8440.1,Senior,2024,3,3
19,20,Anita,IT,Male,27,51556.0,2019-10-17,Jaipur,3.0,3.8,5155.6,Senior,2019,10,10
20,21,Meena,IT,Male,33,80859.0,2021-11-10,Delhi,7.4,4.7,8085.9,Senior,2021,11,11
21,22,Deepak,Finance,Female,33,68559.0,2022-11-27,Bengaluru,3.1,NaN,6855.9,Senior,2022,11,11
22,23,Nikhil,IT,Female,41,56309.0,2021-09-25,Pune,3.9,4.2,5630.9,Senior,2021,9,9
23,24,Vivek,IT,Female,32,51919.0,2017-11-22,Delhi,7.7,NaN,5191.9,Senior,2017,11,11
24,25,Bhavna,Finance,Male,44,NaN,2019-06-11,Delhi,6.8,3.4,NaN,Senior,2019,6,6
25,26,Rahul,Finance,Male,28,82662.0,2018-01-27,Mumbai,8.6,3.2,8266.2,Senior,2018,1,1
26,27,Raj,HR,Male,22,62970.0,2020-06-16,Kolkata,6.9,4.5,6297.0,Senior,2020,6,6
27,28,Komal,Marketing,Male,22,74215.0,2022-02-26,Kolkata,6.1,4.5,7421.5,Senior,2022,2,2
28,29,Tanvi,Marketing,Male,41,83370.0,2019-05-07,Chennai,1.8,4.7,8337.0,Junior,2019,5,5
29,30,Neha,IT,Male,34,42688.0,2023-03-17,Mumbai,4.3,4.8,4268.8,Senior,2023,3,3
30,31,Priti,Marketing,Female,30,55342.0,2024-01-31,Bengaluru,3.4,3.8,5534.2,Senior,2024,1,1
31,32,Tina,IT,Male,24,67157.0,2024-01-08,Kolkata,3.2,3.8,6715.7,Senior,2024,1,1
32,33,Hemant,HR,Male,28,32327.0,2018-12-30,Pune,9.8,4.5,3232.7,Senior,2018,12,12
33,34,Sneha,Finance,Male,27,NaN,2020-02-15,Jaipur,4.5,4.1,NaN,Senior,2020,2,2
34,35,Divya,Finance,Female,29,82083.0,2023-03-26,Mumbai,9.0,4.3,8208.3,Senior,2023,3,3
35,36,Arjun,Finance,Male,30,70545.0,2022-11-01,Jaipur,6.7,4.5,7054.5,Senior,2022,11,11
36,37,Payal,Marketing,Male,26,30197.0,2024-08-09,Delhi,8.2,4.7,3019.7,Senior,2024,8,8
37,38,Gauri,HR,Female,22,53509.0,2017-06-19,Pune,5.5,3.3,5350.9,Senior,2017,6,6
38,39,Simran,Marketing,Male,40,64698.0,2023-10-05,Pune,6.2,NaN,6469.8,Senior,2023,10,10
39,40,Mohan,Marketing,Male,31,74542.0,2023-01-17,Delhi,5.4,2.7,7454.2,Senior,2023,1,1
40,41,Ravi,HR,Male,33,45087.0,2017-04-02,Mumbai,2.8,3.9,4508.7,Junior,2017,4,4
41,42,Mohit,HR,Male,36,52671.0,2017-04-28,Delhi,7.5,2.6,5267.1,Senior,2017,4,4
42,43,Suresh,HR,Male,43,NaN,2022-11-02,Jaipur,3.5,3.7,NaN,Senior,2022,11,11
43,44,Zoya,HR,Female,30,57848.0,2019-12-18,Chennai,1.2,3.9,5784.8,Junior,2019,12,12
44,45,Abhishek,Finance,Female,41,72107.0,2024-02-23,Pune,6.8,3.2,7210.7,Senior,2024,2,2
45,46,Isha,Sales,Female,38,50666.0,2024-03-03,Hyderabad,2.6,4.0,5066.6,Junior,2024,3,3
46,47,Omkar,Sales,Male,38,74357.0,2024-06-28,Hyderabad,9.5,NaN,7435.7,Senior,2024,6,6
47,48,Rohit,HR,Male,41,81663.0,2019-11-05,NaN,9.6,2.6,8166.3,Senior,2019,11,11
48,49,Sanjay,Sales,Male,33,NaN,2024-09-13,Bengaluru,9.2,NaN,NaN,Senior,2024,9,9
49,50,Jatin,Sales,Female,28,56370.0,2020-03-17,NaN,4.3,3.4,5637.0,Senior,2020,3,3

**Filter employees who joined after 2020-01-01.**

In [30]:
df[df['JoiningDate'] > '2020-01-01']

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating,Tax,Experienxe_level,join_year,koin_month,join_month
2,3,Ajay,IT,Male,41,53664.0,2025-01-11,Bengaluru,7.5,3.6,5366.4,Senior,2025,1,1
3,4,Shreya,Marketing,Female,25,31636.0,2024-02-16,Pune,9.1,4.9,3163.6,Senior,2024,2,2
4,5,Kavya,IT,Male,26,50080.0,2021-09-22,Bengaluru,9.0,4.9,5008.0,Senior,2021,9,9
5,6,Veer,Finance,Female,44,57728.0,2022-07-04,NaN,8.0,4.6,5772.8,Senior,2022,7,7
6,7,Vikas,Finance,Male,28,79850.0,2024-03-19,NaN,6.8,3.2,7985.0,Senior,2024,3,3
7,8,Nisha,Finance,Female,34,56736.0,2024-07-13,Kolkata,1.8,3.5,5673.6,Junior,2024,7,7
12,13,Ira,Finance,Female,28,30854.0,2022-12-16,Pune,1.9,4.8,3085.4,Junior,2022,12,12
15,16,Aman,IT,Male,23,37392.0,2020-04-21,Jaipur,2.4,2.7,3739.2,Junior,2020,4,4
17,18,Tarun,Finance,Female,34,NaN,2022-09-23,Kolkata,7.2,5.0,NaN,Senior,2022,9,9
18,19,Uma,Marketing,Female,42,84401.0,2024-03-15,Mumbai,6.9,2.9,8440.1,Senior,2024,3,3
20,21,Meena,IT,Male,33,80859.0,2021-11-10,Delhi,7.4,4.7,8085.9,Senior,2021,11,11
21,22,Deepak,Finance,Female,33,68559.0,2022-11-27,Bengaluru,3.1,NaN,6855.9,Senior,2022,11,11
22,23,Nikhil,IT,Female,41,56309.0,2021-09-25,Pune,3.9,4.2,5630.9,Senior,2021,9,9
26,27,Raj,HR,Male,22,62970.0,2020-06-16,Kolkata,6.9,4.5,6297.0,Senior,2020,6,6
27,28,Komal,Marketing,Male,22,74215.0,2022-02-26,Kolkata,6.1,4.5,7421.5,Senior,2022,2,2
29,30,Neha,IT,Male,34,42688.0,2023-03-17,Mumbai,4.3,4.8,4268.8,Senior,2023,3,3
30,31,Priti,Marketing,Female,30,55342.0,2024-01-31,Bengaluru,3.4,3.8,5534.2,Senior,2024,1,1
31,32,Tina,IT,Male,24,67157.0,2024-01-08,Kolkata,3.2,3.8,6715.7,Senior,2024,1,1
33,34,Sneha,Finance,Male,27,NaN,2020-02-15,Jaipur,4.5,4.1,NaN,Senior,2020,2,2
34,35,Divya,Finance,Female,29,82083.0,2023-03-26,Mumbai,9.0,4.3,8208.3,Senior,2023,3,3
35,36,Arjun,Finance,Male,30,70545.0,2022-11-01,Jaipur,6.7,4.5,7054.5,Senior,2022,11,11
36,37,Payal,Marketing,Male,26,30197.0,2024-08-09,Delhi,8.2,4.7,3019.7,Senior,2024,8,8
38,39,Simran,Marketing,Male,40,64698.0,2023-10-05,Pune,6.2,NaN,6469.8,Senior,2023,10,10
39,40,Mohan,Marketing,Male,31,74542.0,2023-01-17,Delhi,5.4,2.7,7454.2,Senior,2023,1,1
42,43,Suresh,HR,Male,43,NaN,2022-11-02,Jaipur,3.5,3.7,NaN,Senior,2022,11,11
44,45,Abhishek,Finance,Female,41,72107.0,2024-02-23,Pune,6.8,3.2,7210.7,Senior,2024,2,2
45,46,Isha,Sales,Female,38,50666.0,2024-03-03,Hyderabad,2.6,4.0,5066.6,Junior,2024,3,3
46,47,Omkar,Sales,Male,38,74357.0,2024-06-28,Hyderabad,9.5,NaN,7435.7,Senior,2024,6,6
48,49,Sanjay,Sales,Male,33,NaN,2024-09-13,Bengaluru,9.2,NaN,NaN,Senior,2024,9,9
49,50,Jatin,Sales,Female,28,56370.0,2020-03-17,NaN,4.3,3.4,5637.0,Senior,2020,3,3

**Find the top 5 highest paid employees.**

In [36]:
df.sort_values(by='Salary',ascending=False).head(5)

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating,Tax,Experienxe_level,join_year,koin_month,join_month
16,17,Naina,IT,Male,31,85680.0,2018-12-18,Jaipur,5.9,4.0,8568.0,Senior,2018,12,12
18,19,Uma,Marketing,Female,42,84401.0,2024-03-15,Mumbai,6.9,2.9,8440.1,Senior,2024,3,3
28,29,Tanvi,Marketing,Male,41,83370.0,2019-05-07,Chennai,1.8,4.7,8337.0,Junior,2019,5,5
25,26,Rahul,Finance,Male,28,82662.0,2018-01-27,Mumbai,8.6,3.2,8266.2,Senior,2018,1,1
34,35,Divya,Finance,Female,29,82083.0,2023-03-26,Mumbai,9.0,4.3,8208.3,Senior,2023,3,3