In [16]:
import pandas as pd
df=pd.read_csv('/content/pandas practice_dataset.csv')

In [19]:
df.head(10)

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5
1,2,Leena,HR,Male,38,53938.0,2019-02-27,Pune,4.1,4.8
2,3,Ajay,IT,Male,41,53664.0,2025-01-11,Bengaluru,7.5,3.6
3,4,Shreya,Marketing,Female,25,31636.0,2024-02-16,Pune,9.1,4.9
4,5,Kavya,IT,Male,26,50080.0,2021-09-22,Bengaluru,9.0,4.9
5,6,Veer,Finance,Female,44,57728.0,2022-07-04,NaN,8.0,4.6
6,7,Vikas,Finance,Male,28,79850.0,2024-03-19,NaN,6.8,3.2
7,8,Nisha,Finance,Female,34,56736.0,2024-07-13,Kolkata,1.8,3.5
8,9,Yash,Finance,Male,36,58673.0,2018-08-26,Bengaluru,2.5,4.6
9,10,Pooja,Marketing,Male,32,67505.0,2019-08-23,Pune,9.1,3.3

**Fill missing salaries with the average salary.**

In [30]:
df['Salary'].fillna(df['Salary'].mean(), inplace=True)
print(df)

    ID      Name Department  Gender  Age   Salary JoiningDate       City  \
0    1      Ritu         IT    Male   28  74417.0  2017-05-18       Pune
1    2     Leena         HR    Male   38  53938.0  2019-02-27       Pune
2    3      Ajay         IT    Male   41  53664.0  2025-01-11  Bengaluru
3    4    Shreya  Marketing  Female   25  31636.0  2024-02-16       Pune
4    5     Kavya         IT    Male   26  50080.0  2021-09-22  Bengaluru
5    6      Veer    Finance  Female   44  57728.0  2022-07-04        NaN
6    7     Vikas    Finance    Male   28  79850.0  2024-03-19        NaN
7    8     Nisha    Finance  Female   34  56736.0  2024-07-13    Kolkata
8    9      Yash    Finance    Male   36  58673.0  2018-08-26  Bengaluru
9   10     Pooja  Marketing    Male   32  67505.0  2019-08-23       Pune
10  11     Manoj      Sales  Female   25  77323.0  2018-12-10     Jaipur
11  12     Karan         HR  Female   34  76645.0  2017-02-11    Kolkata
12  13       Ira    Finance  Female   28  30854.0  2022-12-16       Pune
13  14     Varun         IT    Male   40  54548.0  2019-06-09      Delhi
14  15     Priya    Finance  Female   43  68623.0  2017-12-17        NaN
15  16      Aman         IT    Male   23  37392.0  2020-04-21     Jaipur
16  17     Naina         IT    Male   31  85680.0  2018-12-18     Jaipur
17  18     Tarun    Finance  Female   34  61688.2  2022-09-23    Kolkata
18  19       Uma  Marketing  Female   42  84401.0  2024-03-15     Mumbai
19  20     Anita         IT    Male   27  51556.0  2019-10-17     Jaipur
20  21     Meena         IT    Male   33  80859.0  2021-11-10      Delhi
21  22    Deepak    Finance  Female   33  68559.0  2022-11-27  Bengaluru
22  23    Nikhil         IT  Female   41  56309.0  2021-09-25       Pune
23  24     Vivek         IT  Female   32  51919.0  2017-11-22      Delhi
24  25    Bhavna    Finance    Male   44  61688.2  2019-06-11      Delhi
25  26     Rahul    Finance    Male   28  82662.0  2018-01-27     Mumbai
26  27       Raj         HR    Male   22  62970.0  2020-06-16    Kolkata
27  28     Komal  Marketing    Male   22  74215.0  2022-02-26    Kolkata
28  29     Tanvi  Marketing    Male   41  83370.0  2019-05-07    Chennai
29  30      Neha         IT    Male   34  42688.0  2023-03-17     Mumbai
30  31     Priti  Marketing  Female   30  55342.0  2024-01-31  Bengaluru
31  32      Tina         IT    Male   24  67157.0  2024-01-08    Kolkata
32  33    Hemant         HR    Male   28  32327.0  2018-12-30       Pune
33  34     Sneha    Finance    Male   27  61688.2  2020-02-15     Jaipur
34  35     Divya    Finance  Female   29  82083.0  2023-03-26     Mumbai
35  36     Arjun    Finance    Male   30  70545.0  2022-11-01     Jaipur
36  37     Payal  Marketing    Male   26  30197.0  2024-08-09      Delhi
37  38     Gauri         HR  Female   22  53509.0  2017-06-19       Pune
38  39    Simran  Marketing    Male   40  64698.0  2023-10-05       Pune
39  40     Mohan  Marketing    Male   31  74542.0  2023-01-17      Delhi
40  41      Ravi         HR    Male   33  45087.0  2017-04-02     Mumbai
41  42     Mohit         HR    Male   36  52671.0  2017-04-28      Delhi
42  43    Suresh         HR    Male   43  61688.2  2022-11-02     Jaipur
43  44      Zoya         HR  Female   30  57848.0  2019-12-18    Chennai
44  45  Abhishek    Finance  Female   41  72107.0  2024-02-23       Pune
45  46      Isha      Sales  Female   38  50666.0  2024-03-03  Hyderabad
46  47     Omkar      Sales    Male   38  74357.0  2024-06-28  Hyderabad
47  48     Rohit         HR    Male   41  81663.0  2019-11-05        NaN
48  49    Sanjay      Sales    Male   33  61688.2  2024-09-13  Bengaluru
49  50     Jatin      Sales  Female   28  56370.0  2020-03-17        NaN

    Experience  Rating
0          4.1     2.5
1          4.1     4.8
2          7.5     3.6
3          9.1     4.9
4          9.0     4.9
5          8.0     4.6
6          6.8     3.2
7          1.8     3.5
8          2.5     4.6
9          9.1     3.3
10         6.5     2.9
11         1.1     3.9
12         1.9     4.8
13         7.0     4.2
14         1.0     3.9
15         2.4     2.7
16         5.9     4.0
17         7.2     5.0
18         6.9     2.9
19         3.0     3.8
20         7.4     4.7
21         3.1     NaN
22         3.9     4.2
23         7.7     NaN
24         6.8     3.4
25         8.6     3.2
26         6.9     4.5
27         6.1     4.5
28         1.8     4.7
29         4.3     4.8
30         3.4     3.8
31         3.2     3.8
32         9.8     4.5
33         4.5     4.1
34         9.0     4.3
35         6.7     4.5
36         8.2     4.7
37         5.5     3.3
38         6.2     NaN
39         5.4     2.7
40         2.8     3.9
41         7.5     2.6
42         3.5     3.7
43         1.2     3.9
44         6.8     3.2
45         2.6     4.0
46         9.5     NaN
47         9.6     2.6
48         9.2     NaN
49         4.3     3.4

/tmp/ipython-input-1866583661.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace=True)

In [26]:
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

**Fill missing cities with "Unknown"**

In [35]:
df['City'].fillna("Unkown",inplace=True)
df.head(20)

/tmp/ipython-input-329416840.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna("Unkown",inplace=True)

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5
1,2,Leena,HR,Male,38,53938.0,2019-02-27,Pune,4.1,4.8
2,3,Ajay,IT,Male,41,53664.0,2025-01-11,Bengaluru,7.5,3.6
3,4,Shreya,Marketing,Female,25,31636.0,2024-02-16,Pune,9.1,4.9
4,5,Kavya,IT,Male,26,50080.0,2021-09-22,Bengaluru,9.0,4.9
5,6,Veer,Finance,Female,44,57728.0,2022-07-04,Unkown,8.0,4.6
6,7,Vikas,Finance,Male,28,79850.0,2024-03-19,Unkown,6.8,3.2
7,8,Nisha,Finance,Female,34,56736.0,2024-07-13,Kolkata,1.8,3.5
8,9,Yash,Finance,Male,36,58673.0,2018-08-26,Bengaluru,2.5,4.6
9,10,Pooja,Marketing,Male,32,67505.0,2019-08-23,Pune,9.1,3.3
10,11,Manoj,Sales,Female,25,77323.0,2018-12-10,Jaipur,6.5,2.9
11,12,Karan,HR,Female,34,76645.0,2017-02-11,Kolkata,1.1,3.9
12,13,Ira,Finance,Female,28,30854.0,2022-12-16,Pune,1.9,4.8
13,14,Varun,IT,Male,40,54548.0,2019-06-09,Delhi,7.0,4.2
14,15,Priya,Finance,Female,43,68623.0,2017-12-17,Unkown,1.0,3.9
15,16,Aman,IT,Male,23,37392.0,2020-04-21,Jaipur,2.4,2.7
16,17,Naina,IT,Male,31,85680.0,2018-12-18,Jaipur,5.9,4.0
17,18,Tarun,Finance,Female,34,61688.2,2022-09-23,Kolkata,7.2,5.0
18,19,Uma,Marketing,Female,42,84401.0,2024-03-15,Mumbai,6.9,2.9
19,20,Anita,IT,Male,27,51556.0,2019-10-17,Jaipur,3.0,3.8

**Remove duplicate rows.**

In [37]:
df.drop_duplicates(inplace=True)
df

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5
1,2,Leena,HR,Male,38,53938.0,2019-02-27,Pune,4.1,4.8
2,3,Ajay,IT,Male,41,53664.0,2025-01-11,Bengaluru,7.5,3.6
3,4,Shreya,Marketing,Female,25,31636.0,2024-02-16,Pune,9.1,4.9
4,5,Kavya,IT,Male,26,50080.0,2021-09-22,Bengaluru,9.0,4.9
5,6,Veer,Finance,Female,44,57728.0,2022-07-04,Unkown,8.0,4.6
6,7,Vikas,Finance,Male,28,79850.0,2024-03-19,Unkown,6.8,3.2
7,8,Nisha,Finance,Female,34,56736.0,2024-07-13,Kolkata,1.8,3.5
8,9,Yash,Finance,Male,36,58673.0,2018-08-26,Bengaluru,2.5,4.6
9,10,Pooja,Marketing,Male,32,67505.0,2019-08-23,Pune,9.1,3.3
10,11,Manoj,Sales,Female,25,77323.0,2018-12-10,Jaipur,6.5,2.9
11,12,Karan,HR,Female,34,76645.0,2017-02-11,Kolkata,1.1,3.9
12,13,Ira,Finance,Female,28,30854.0,2022-12-16,Pune,1.9,4.8
13,14,Varun,IT,Male,40,54548.0,2019-06-09,Delhi,7.0,4.2
14,15,Priya,Finance,Female,43,68623.0,2017-12-17,Unkown,1.0,3.9
15,16,Aman,IT,Male,23,37392.0,2020-04-21,Jaipur,2.4,2.7
16,17,Naina,IT,Male,31,85680.0,2018-12-18,Jaipur,5.9,4.0
17,18,Tarun,Finance,Female,34,61688.2,2022-09-23,Kolkata,7.2,5.0
18,19,Uma,Marketing,Female,42,84401.0,2024-03-15,Mumbai,6.9,2.9
19,20,Anita,IT,Male,27,51556.0,2019-10-17,Jaipur,3.0,3.8
20,21,Meena,IT,Male,33,80859.0,2021-11-10,Delhi,7.4,4.7
21,22,Deepak,Finance,Female,33,68559.0,2022-11-27,Bengaluru,3.1,NaN
22,23,Nikhil,IT,Female,41,56309.0,2021-09-25,Pune,3.9,4.2
23,24,Vivek,IT,Female,32,51919.0,2017-11-22,Delhi,7.7,NaN
24,25,Bhavna,Finance,Male,44,61688.2,2019-06-11,Delhi,6.8,3.4
25,26,Rahul,Finance,Male,28,82662.0,2018-01-27,Mumbai,8.6,3.2
26,27,Raj,HR,Male,22,62970.0,2020-06-16,Kolkata,6.9,4.5
27,28,Komal,Marketing,Male,22,74215.0,2022-02-26,Kolkata,6.1,4.5
28,29,Tanvi,Marketing,Male,41,83370.0,2019-05-07,Chennai,1.8,4.7
29,30,Neha,IT,Male,34,42688.0,2023-03-17,Mumbai,4.3,4.8
30,31,Priti,Marketing,Female,30,55342.0,2024-01-31,Bengaluru,3.4,3.8
31,32,Tina,IT,Male,24,67157.0,2024-01-08,Kolkata,3.2,3.8
32,33,Hemant,HR,Male,28,32327.0,2018-12-30,Pune,9.8,4.5
33,34,Sneha,Finance,Male,27,61688.2,2020-02-15,Jaipur,4.5,4.1
34,35,Divya,Finance,Female,29,82083.0,2023-03-26,Mumbai,9.0,4.3
35,36,Arjun,Finance,Male,30,70545.0,2022-11-01,Jaipur,6.7,4.5
36,37,Payal,Marketing,Male,26,30197.0,2024-08-09,Delhi,8.2,4.7
37,38,Gauri,HR,Female,22,53509.0,2017-06-19,Pune,5.5,3.3
38,39,Simran,Marketing,Male,40,64698.0,2023-10-05,Pune,6.2,NaN
39,40,Mohan,Marketing,Male,31,74542.0,2023-01-17,Delhi,5.4,2.7
40,41,Ravi,HR,Male,33,45087.0,2017-04-02,Mumbai,2.8,3.9
41,42,Mohit,HR,Male,36,52671.0,2017-04-28,Delhi,7.5,2.6
42,43,Suresh,HR,Male,43,61688.2,2022-11-02,Jaipur,3.5,3.7
43,44,Zoya,HR,Female,30,57848.0,2019-12-18,Chennai,1.2,3.9
44,45,Abhishek,Finance,Female,41,72107.0,2024-02-23,Pune,6.8,3.2
45,46,Isha,Sales,Female,38,50666.0,2024-03-03,Hyderabad,2.6,4.0
46,47,Omkar,Sales,Male,38,74357.0,2024-06-28,Hyderabad,9.5,NaN
47,48,Rohit,HR,Male,41,81663.0,2019-11-05,Unkown,9.6,2.6
48,49,Sanjay,Sales,Male,33,61688.2,2024-09-13,Bengaluru,9.2,NaN
49,50,Jatin,Sales,Female,28,56370.0,2020-03-17,Unkown,4.3,3.4

**Rename the column Salary to Salary_Amount.**

In [39]:
df.rename(columns={'Salary':'Salary_Amaount'},inplace=True)
df.head(1)

,ID,Name,Department,Gender,Age,Salary_Amaount,JoiningDate,City,Experience,Rating
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5

**Strip extra spaces and convert all city names to lowercase.**

In [43]:
df['City']=df['City'].str.strip().str.lower()
df.head(5)

,ID,Name,Department,Gender,Age,Salary_Amaount,JoiningDate,City,Experience,Rating
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,pune,4.1,2.5
1,2,Leena,HR,Male,38,53938.0,2019-02-27,pune,4.1,4.8
2,3,Ajay,IT,Male,41,53664.0,2025-01-11,bengaluru,7.5,3.6
3,4,Shreya,Marketing,Female,25,31636.0,2024-02-16,pune,9.1,4.9
4,5,Kavya,IT,Male,26,50080.0,2021-09-22,bengaluru,9.0,4.9