In [4]:
import pandas as pd
data=pd.read_csv('/content/pandas practice_dataset.csv')
data.head(5)

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5
1,2,Leena,HR,Male,38,53938.0,2019-02-27,Pune,4.1,4.8
2,3,Ajay,IT,Male,41,53664.0,2025-01-11,Bengaluru,7.5,3.6
3,4,Shreya,Marketing,Female,25,31636.0,2024-02-16,Pune,9.1,4.9
4,5,Kavya,IT,Male,26,50080.0,2021-09-22,Bengaluru,9.0,4.9

**Select the Name and Salary columns.**

In [16]:
data[['Name','Salary']]

        Name   Salary
0       Ritu  74417.0
1      Leena  53938.0
2       Ajay  53664.0
3     Shreya  31636.0
4      Kavya  50080.0
5       Veer  57728.0
6      Vikas  79850.0
7      Nisha  56736.0
8       Yash  58673.0
9      Pooja  67505.0
10     Manoj  77323.0
11     Karan  76645.0
12       Ira  30854.0
13     Varun  54548.0
14     Priya  68623.0
15      Aman  37392.0
16     Naina  85680.0
17     Tarun      NaN
18       Uma  84401.0
19     Anita  51556.0
20     Meena  80859.0
21    Deepak  68559.0
22    Nikhil  56309.0
23     Vivek  51919.0
24    Bhavna      NaN
25     Rahul  82662.0
26       Raj  62970.0
27     Komal  74215.0
28     Tanvi  83370.0
29      Neha  42688.0
30     Priti  55342.0
31      Tina  67157.0
32    Hemant  32327.0
33     Sneha      NaN
34     Divya  82083.0
35     Arjun  70545.0
36     Payal  30197.0
37     Gauri  53509.0
38    Simran  64698.0
39     Mohan  74542.0
40      Ravi  45087.0
41     Mohit  52671.0
42    Suresh      NaN
43      Zoya  57848.0
44  Abhishek  72107.0
45      Isha  50666.0
46     Omkar  74357.0
47     Rohit  81663.0
48    Sanjay      NaN
49     Jatin  56370.0

Filter employees with salary > 60,000

In [18]:
data[data['Salary']>60000]

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5
6,7,Vikas,Finance,Male,28,79850.0,2024-03-19,NaN,6.8,3.2
9,10,Pooja,Marketing,Male,32,67505.0,2019-08-23,Pune,9.1,3.3
10,11,Manoj,Sales,Female,25,77323.0,2018-12-10,Jaipur,6.5,2.9
11,12,Karan,HR,Female,34,76645.0,2017-02-11,Kolkata,1.1,3.9
14,15,Priya,Finance,Female,43,68623.0,2017-12-17,NaN,1.0,3.9
16,17,Naina,IT,Male,31,85680.0,2018-12-18,Jaipur,5.9,4.0
18,19,Uma,Marketing,Female,42,84401.0,2024-03-15,Mumbai,6.9,2.9
20,21,Meena,IT,Male,33,80859.0,2021-11-10,Delhi,7.4,4.7
21,22,Deepak,Finance,Female,33,68559.0,2022-11-27,Bengaluru,3.1,NaN
25,26,Rahul,Finance,Male,28,82662.0,2018-01-27,Mumbai,8.6,3.2
26,27,Raj,HR,Male,22,62970.0,2020-06-16,Kolkata,6.9,4.5
27,28,Komal,Marketing,Male,22,74215.0,2022-02-26,Kolkata,6.1,4.5
28,29,Tanvi,Marketing,Male,41,83370.0,2019-05-07,Chennai,1.8,4.7
31,32,Tina,IT,Male,24,67157.0,2024-01-08,Kolkata,3.2,3.8
34,35,Divya,Finance,Female,29,82083.0,2023-03-26,Mumbai,9.0,4.3
35,36,Arjun,Finance,Male,30,70545.0,2022-11-01,Jaipur,6.7,4.5
38,39,Simran,Marketing,Male,40,64698.0,2023-10-05,Pune,6.2,NaN
39,40,Mohan,Marketing,Male,31,74542.0,2023-01-17,Delhi,5.4,2.7
44,45,Abhishek,Finance,Female,41,72107.0,2024-02-23,Pune,6.8,3.2
46,47,Omkar,Sales,Male,38,74357.0,2024-06-28,Hyderabad,9.5,NaN
47,48,Rohit,HR,Male,41,81663.0,2019-11-05,NaN,9.6,2.6

**	Filter employees from IT department with salary > 50,000**

In [20]:
data[(data['Salary']>50000) & (data['Department']=='IT')]

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5
2,3,Ajay,IT,Male,41,53664.0,2025-01-11,Bengaluru,7.5,3.6
4,5,Kavya,IT,Male,26,50080.0,2021-09-22,Bengaluru,9.0,4.9
13,14,Varun,IT,Male,40,54548.0,2019-06-09,Delhi,7.0,4.2
16,17,Naina,IT,Male,31,85680.0,2018-12-18,Jaipur,5.9,4.0
19,20,Anita,IT,Male,27,51556.0,2019-10-17,Jaipur,3.0,3.8
20,21,Meena,IT,Male,33,80859.0,2021-11-10,Delhi,7.4,4.7
22,23,Nikhil,IT,Female,41,56309.0,2021-09-25,Pune,3.9,4.2
23,24,Vivek,IT,Female,32,51919.0,2017-11-22,Delhi,7.7,NaN
31,32,Tina,IT,Male,24,67157.0,2024-01-08,Kolkata,3.2,3.8

**Select the first 10 rows using.iloc**

In [21]:
first_10=data.iloc[:10]
print(first_10)

   ID    Name Department  Gender  Age   Salary JoiningDate       City  \
0   1    Ritu         IT    Male   28  74417.0  2017-05-18       Pune
1   2   Leena         HR    Male   38  53938.0  2019-02-27       Pune
2   3    Ajay         IT    Male   41  53664.0  2025-01-11  Bengaluru
3   4  Shreya  Marketing  Female   25  31636.0  2024-02-16       Pune
4   5   Kavya         IT    Male   26  50080.0  2021-09-22  Bengaluru
5   6    Veer    Finance  Female   44  57728.0  2022-07-04        NaN
6   7   Vikas    Finance    Male   28  79850.0  2024-03-19        NaN
7   8   Nisha    Finance  Female   34  56736.0  2024-07-13    Kolkata
8   9    Yash    Finance    Male   36  58673.0  2018-08-26  Bengaluru
9  10   Pooja  Marketing    Male   32  67505.0  2019-08-23       Pune

   Experience  Rating
0         4.1     2.5
1         4.1     4.8
2         7.5     3.6
3         9.1     4.9
4         9.0     4.9
5         8.0     4.6
6         6.8     3.2
7         1.8     3.5
8         2.5     4.6
9         9.1     3.3

**Select rows where Age is between 25 and 30**

In [23]:
data[(data['Age']>25)&(data['Age']<50)]

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5
1,2,Leena,HR,Male,38,53938.0,2019-02-27,Pune,4.1,4.8
2,3,Ajay,IT,Male,41,53664.0,2025-01-11,Bengaluru,7.5,3.6
4,5,Kavya,IT,Male,26,50080.0,2021-09-22,Bengaluru,9.0,4.9
5,6,Veer,Finance,Female,44,57728.0,2022-07-04,NaN,8.0,4.6
6,7,Vikas,Finance,Male,28,79850.0,2024-03-19,NaN,6.8,3.2
7,8,Nisha,Finance,Female,34,56736.0,2024-07-13,Kolkata,1.8,3.5
8,9,Yash,Finance,Male,36,58673.0,2018-08-26,Bengaluru,2.5,4.6
9,10,Pooja,Marketing,Male,32,67505.0,2019-08-23,Pune,9.1,3.3
11,12,Karan,HR,Female,34,76645.0,2017-02-11,Kolkata,1.1,3.9
12,13,Ira,Finance,Female,28,30854.0,2022-12-16,Pune,1.9,4.8
13,14,Varun,IT,Male,40,54548.0,2019-06-09,Delhi,7.0,4.2
14,15,Priya,Finance,Female,43,68623.0,2017-12-17,NaN,1.0,3.9
16,17,Naina,IT,Male,31,85680.0,2018-12-18,Jaipur,5.9,4.0
17,18,Tarun,Finance,Female,34,NaN,2022-09-23,Kolkata,7.2,5.0
18,19,Uma,Marketing,Female,42,84401.0,2024-03-15,Mumbai,6.9,2.9
19,20,Anita,IT,Male,27,51556.0,2019-10-17,Jaipur,3.0,3.8
20,21,Meena,IT,Male,33,80859.0,2021-11-10,Delhi,7.4,4.7
21,22,Deepak,Finance,Female,33,68559.0,2022-11-27,Bengaluru,3.1,NaN
22,23,Nikhil,IT,Female,41,56309.0,2021-09-25,Pune,3.9,4.2
23,24,Vivek,IT,Female,32,51919.0,2017-11-22,Delhi,7.7,NaN
24,25,Bhavna,Finance,Male,44,NaN,2019-06-11,Delhi,6.8,3.4
25,26,Rahul,Finance,Male,28,82662.0,2018-01-27,Mumbai,8.6,3.2
28,29,Tanvi,Marketing,Male,41,83370.0,2019-05-07,Chennai,1.8,4.7
29,30,Neha,IT,Male,34,42688.0,2023-03-17,Mumbai,4.3,4.8
30,31,Priti,Marketing,Female,30,55342.0,2024-01-31,Bengaluru,3.4,3.8
32,33,Hemant,HR,Male,28,32327.0,2018-12-30,Pune,9.8,4.5
33,34,Sneha,Finance,Male,27,NaN,2020-02-15,Jaipur,4.5,4.1
34,35,Divya,Finance,Female,29,82083.0,2023-03-26,Mumbai,9.0,4.3
35,36,Arjun,Finance,Male,30,70545.0,2022-11-01,Jaipur,6.7,4.5
36,37,Payal,Marketing,Male,26,30197.0,2024-08-09,Delhi,8.2,4.7
38,39,Simran,Marketing,Male,40,64698.0,2023-10-05,Pune,6.2,NaN
39,40,Mohan,Marketing,Male,31,74542.0,2023-01-17,Delhi,5.4,2.7
40,41,Ravi,HR,Male,33,45087.0,2017-04-02,Mumbai,2.8,3.9
41,42,Mohit,HR,Male,36,52671.0,2017-04-28,Delhi,7.5,2.6
42,43,Suresh,HR,Male,43,NaN,2022-11-02,Jaipur,3.5,3.7
43,44,Zoya,HR,Female,30,57848.0,2019-12-18,Chennai,1.2,3.9
44,45,Abhishek,Finance,Female,41,72107.0,2024-02-23,Pune,6.8,3.2
45,46,Isha,Sales,Female,38,50666.0,2024-03-03,Hyderabad,2.6,4.0
46,47,Omkar,Sales,Male,38,74357.0,2024-06-28,Hyderabad,9.5,NaN
47,48,Rohit,HR,Male,41,81663.0,2019-11-05,NaN,9.6,2.6
48,49,Sanjay,Sales,Male,33,NaN,2024-09-13,Bengaluru,9.2,NaN
49,50,Jatin,Sales,Female,28,56370.0,2020-03-17,NaN,4.3,3.4