In [1]:
import pandas as pd
df=pd.read_csv('/content/pandas practice_dataset.csv')

**Sort the dataframe by Salary in descending order.**

In [2]:
df.sort_values(by='Salary',ascending=False)

,ID,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating
16,17,Naina,IT,Male,31,85680.0,2018-12-18,Jaipur,5.9,4.0
18,19,Uma,Marketing,Female,42,84401.0,2024-03-15,Mumbai,6.9,2.9
28,29,Tanvi,Marketing,Male,41,83370.0,2019-05-07,Chennai,1.8,4.7
25,26,Rahul,Finance,Male,28,82662.0,2018-01-27,Mumbai,8.6,3.2
34,35,Divya,Finance,Female,29,82083.0,2023-03-26,Mumbai,9.0,4.3
47,48,Rohit,HR,Male,41,81663.0,2019-11-05,NaN,9.6,2.6
20,21,Meena,IT,Male,33,80859.0,2021-11-10,Delhi,7.4,4.7
6,7,Vikas,Finance,Male,28,79850.0,2024-03-19,NaN,6.8,3.2
10,11,Manoj,Sales,Female,25,77323.0,2018-12-10,Jaipur,6.5,2.9
11,12,Karan,HR,Female,34,76645.0,2017-02-11,Kolkata,1.1,3.9
39,40,Mohan,Marketing,Male,31,74542.0,2023-01-17,Delhi,5.4,2.7
0,1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5
46,47,Omkar,Sales,Male,38,74357.0,2024-06-28,Hyderabad,9.5,NaN
27,28,Komal,Marketing,Male,22,74215.0,2022-02-26,Kolkata,6.1,4.5
44,45,Abhishek,Finance,Female,41,72107.0,2024-02-23,Pune,6.8,3.2
35,36,Arjun,Finance,Male,30,70545.0,2022-11-01,Jaipur,6.7,4.5
14,15,Priya,Finance,Female,43,68623.0,2017-12-17,NaN,1.0,3.9
21,22,Deepak,Finance,Female,33,68559.0,2022-11-27,Bengaluru,3.1,NaN
9,10,Pooja,Marketing,Male,32,67505.0,2019-08-23,Pune,9.1,3.3
31,32,Tina,IT,Male,24,67157.0,2024-01-08,Kolkata,3.2,3.8
38,39,Simran,Marketing,Male,40,64698.0,2023-10-05,Pune,6.2,NaN
26,27,Raj,HR,Male,22,62970.0,2020-06-16,Kolkata,6.9,4.5
8,9,Yash,Finance,Male,36,58673.0,2018-08-26,Bengaluru,2.5,4.6
43,44,Zoya,HR,Female,30,57848.0,2019-12-18,Chennai,1.2,3.9
5,6,Veer,Finance,Female,44,57728.0,2022-07-04,NaN,8.0,4.6
7,8,Nisha,Finance,Female,34,56736.0,2024-07-13,Kolkata,1.8,3.5
49,50,Jatin,Sales,Female,28,56370.0,2020-03-17,NaN,4.3,3.4
22,23,Nikhil,IT,Female,41,56309.0,2021-09-25,Pune,3.9,4.2
30,31,Priti,Marketing,Female,30,55342.0,2024-01-31,Bengaluru,3.4,3.8
13,14,Varun,IT,Male,40,54548.0,2019-06-09,Delhi,7.0,4.2
1,2,Leena,HR,Male,38,53938.0,2019-02-27,Pune,4.1,4.8
2,3,Ajay,IT,Male,41,53664.0,2025-01-11,Bengaluru,7.5,3.6
37,38,Gauri,HR,Female,22,53509.0,2017-06-19,Pune,5.5,3.3
41,42,Mohit,HR,Male,36,52671.0,2017-04-28,Delhi,7.5,2.6
23,24,Vivek,IT,Female,32,51919.0,2017-11-22,Delhi,7.7,NaN
19,20,Anita,IT,Male,27,51556.0,2019-10-17,Jaipur,3.0,3.8
45,46,Isha,Sales,Female,38,50666.0,2024-03-03,Hyderabad,2.6,4.0
4,5,Kavya,IT,Male,26,50080.0,2021-09-22,Bengaluru,9.0,4.9
40,41,Ravi,HR,Male,33,45087.0,2017-04-02,Mumbai,2.8,3.9
29,30,Neha,IT,Male,34,42688.0,2023-03-17,Mumbai,4.3,4.8
15,16,Aman,IT,Male,23,37392.0,2020-04-21,Jaipur,2.4,2.7
32,33,Hemant,HR,Male,28,32327.0,2018-12-30,Pune,9.8,4.5
3,4,Shreya,Marketing,Female,25,31636.0,2024-02-16,Pune,9.1,4.9
12,13,Ira,Finance,Female,28,30854.0,2022-12-16,Pune,1.9,4.8
36,37,Payal,Marketing,Male,26,30197.0,2024-08-09,Delhi,8.2,4.7
17,18,Tarun,Finance,Female,34,NaN,2022-09-23,Kolkata,7.2,5.0
24,25,Bhavna,Finance,Male,44,NaN,2019-06-11,Delhi,6.8,3.4
33,34,Sneha,Finance,Male,27,NaN,2020-02-15,Jaipur,4.5,4.1
42,43,Suresh,HR,Male,43,NaN,2022-11-02,Jaipur,3.5,3.7
48,49,Sanjay,Sales,Male,33,NaN,2024-09-13,Bengaluru,9.2,NaN

**	Set ID as the index**

In [5]:
df.set_index('ID')

,Name,Department,Gender,Age,Salary,JoiningDate,City,Experience,Rating
ID,,,,,,,,,
1,Ritu,IT,Male,28,74417.0,2017-05-18,Pune,4.1,2.5
2,Leena,HR,Male,38,53938.0,2019-02-27,Pune,4.1,4.8
3,Ajay,IT,Male,41,53664.0,2025-01-11,Bengaluru,7.5,3.6
4,Shreya,Marketing,Female,25,31636.0,2024-02-16,Pune,9.1,4.9
5,Kavya,IT,Male,26,50080.0,2021-09-22,Bengaluru,9.0,4.9
6,Veer,Finance,Female,44,57728.0,2022-07-04,NaN,8.0,4.6
7,Vikas,Finance,Male,28,79850.0,2024-03-19,NaN,6.8,3.2
8,Nisha,Finance,Female,34,56736.0,2024-07-13,Kolkata,1.8,3.5
9,Yash,Finance,Male,36,58673.0,2018-08-26,Bengaluru,2.5,4.6
10,Pooja,Marketing,Male,32,67505.0,2019-08-23,Pune,9.1,3.3
11,Manoj,Sales,Female,25,77323.0,2018-12-10,Jaipur,6.5,2.9
12,Karan,HR,Female,34,76645.0,2017-02-11,Kolkata,1.1,3.9
13,Ira,Finance,Female,28,30854.0,2022-12-16,Pune,1.9,4.8
14,Varun,IT,Male,40,54548.0,2019-06-09,Delhi,7.0,4.2
15,Priya,Finance,Female,43,68623.0,2017-12-17,NaN,1.0,3.9
16,Aman,IT,Male,23,37392.0,2020-04-21,Jaipur,2.4,2.7
17,Naina,IT,Male,31,85680.0,2018-12-18,Jaipur,5.9,4.0
18,Tarun,Finance,Female,34,NaN,2022-09-23,Kolkata,7.2,5.0
19,Uma,Marketing,Female,42,84401.0,2024-03-15,Mumbai,6.9,2.9
20,Anita,IT,Male,27,51556.0,2019-10-17,Jaipur,3.0,3.8
21,Meena,IT,Male,33,80859.0,2021-11-10,Delhi,7.4,4.7
22,Deepak,Finance,Female,33,68559.0,2022-11-27,Bengaluru,3.1,NaN
23,Nikhil,IT,Female,41,56309.0,2021-09-25,Pune,3.9,4.2
24,Vivek,IT,Female,32,51919.0,2017-11-22,Delhi,7.7,NaN
25,Bhavna,Finance,Male,44,NaN,2019-06-11,Delhi,6.8,3.4
26,Rahul,Finance,Male,28,82662.0,2018-01-27,Mumbai,8.6,3.2
27,Raj,HR,Male,22,62970.0,2020-06-16,Kolkata,6.9,4.5
28,Komal,Marketing,Male,22,74215.0,2022-02-26,Kolkata,6.1,4.5
29,Tanvi,Marketing,Male,41,83370.0,2019-05-07,Chennai,1.8,4.7
30,Neha,IT,Male,34,42688.0,2023-03-17,Mumbai,4.3,4.8
31,Priti,Marketing,Female,30,55342.0,2024-01-31,Bengaluru,3.4,3.8
32,Tina,IT,Male,24,67157.0,2024-01-08,Kolkata,3.2,3.8
33,Hemant,HR,Male,28,32327.0,2018-12-30,Pune,9.8,4.5
34,Sneha,Finance,Male,27,NaN,2020-02-15,Jaipur,4.5,4.1
35,Divya,Finance,Female,29,82083.0,2023-03-26,Mumbai,9.0,4.3
36,Arjun,Finance,Male,30,70545.0,2022-11-01,Jaipur,6.7,4.5
37,Payal,Marketing,Male,26,30197.0,2024-08-09,Delhi,8.2,4.7
38,Gauri,HR,Female,22,53509.0,2017-06-19,Pune,5.5,3.3
39,Simran,Marketing,Male,40,64698.0,2023-10-05,Pune,6.2,NaN
40,Mohan,Marketing,Male,31,74542.0,2023-01-17,Delhi,5.4,2.7
41,Ravi,HR,Male,33,45087.0,2017-04-02,Mumbai,2.8,3.9
42,Mohit,HR,Male,36,52671.0,2017-04-28,Delhi,7.5,2.6
43,Suresh,HR,Male,43,NaN,2022-11-02,Jaipur,3.5,3.7
44,Zoya,HR,Female,30,57848.0,2019-12-18,Chennai,1.2,3.9
45,Abhishek,Finance,Female,41,72107.0,2024-02-23,Pune,6.8,3.2
46,Isha,Sales,Female,38,50666.0,2024-03-03,Hyderabad,2.6,4.0
47,Omkar,Sales,Male,38,74357.0,2024-06-28,Hyderabad,9.5,NaN
48,Rohit,HR,Male,41,81663.0,2019-11-05,NaN,9.6,2.6
49,Sanjay,Sales,Male,33,NaN,2024-09-13,Bengaluru,9.2,NaN
50,Jatin,Sales,Female,28,56370.0,2020-03-17,NaN,4.3,3.4

**Reset the index.**

In [7]:
new_df = df.reset_index()
print(new_df)

    index  ID      Name Department  Gender  Age   Salary JoiningDate  \
0       0   1      Ritu         IT    Male   28  74417.0  2017-05-18
1       1   2     Leena         HR    Male   38  53938.0  2019-02-27
2       2   3      Ajay         IT    Male   41  53664.0  2025-01-11
3       3   4    Shreya  Marketing  Female   25  31636.0  2024-02-16
4       4   5     Kavya         IT    Male   26  50080.0  2021-09-22
5       5   6      Veer    Finance  Female   44  57728.0  2022-07-04
6       6   7     Vikas    Finance    Male   28  79850.0  2024-03-19
7       7   8     Nisha    Finance  Female   34  56736.0  2024-07-13
8       8   9      Yash    Finance    Male   36  58673.0  2018-08-26
9       9  10     Pooja  Marketing    Male   32  67505.0  2019-08-23
10     10  11     Manoj      Sales  Female   25  77323.0  2018-12-10
11     11  12     Karan         HR  Female   34  76645.0  2017-02-11
12     12  13       Ira    Finance  Female   28  30854.0  2022-12-16
13     13  14     Varun         IT    Male   40  54548.0  2019-06-09
14     14  15     Priya    Finance  Female   43  68623.0  2017-12-17
15     15  16      Aman         IT    Male   23  37392.0  2020-04-21
16     16  17     Naina         IT    Male   31  85680.0  2018-12-18
17     17  18     Tarun    Finance  Female   34      NaN  2022-09-23
18     18  19       Uma  Marketing  Female   42  84401.0  2024-03-15
19     19  20     Anita         IT    Male   27  51556.0  2019-10-17
20     20  21     Meena         IT    Male   33  80859.0  2021-11-10
21     21  22    Deepak    Finance  Female   33  68559.0  2022-11-27
22     22  23    Nikhil         IT  Female   41  56309.0  2021-09-25
23     23  24     Vivek         IT  Female   32  51919.0  2017-11-22
24     24  25    Bhavna    Finance    Male   44      NaN  2019-06-11
25     25  26     Rahul    Finance    Male   28  82662.0  2018-01-27
26     26  27       Raj         HR    Male   22  62970.0  2020-06-16
27     27  28     Komal  Marketing    Male   22  74215.0  2022-02-26
28     28  29     Tanvi  Marketing    Male   41  83370.0  2019-05-07
29     29  30      Neha         IT    Male   34  42688.0  2023-03-17
30     30  31     Priti  Marketing  Female   30  55342.0  2024-01-31
31     31  32      Tina         IT    Male   24  67157.0  2024-01-08
32     32  33    Hemant         HR    Male   28  32327.0  2018-12-30
33     33  34     Sneha    Finance    Male   27      NaN  2020-02-15
34     34  35     Divya    Finance  Female   29  82083.0  2023-03-26
35     35  36     Arjun    Finance    Male   30  70545.0  2022-11-01
36     36  37     Payal  Marketing    Male   26  30197.0  2024-08-09
37     37  38     Gauri         HR  Female   22  53509.0  2017-06-19
38     38  39    Simran  Marketing    Male   40  64698.0  2023-10-05
39     39  40     Mohan  Marketing    Male   31  74542.0  2023-01-17
40     40  41      Ravi         HR    Male   33  45087.0  2017-04-02
41     41  42     Mohit         HR    Male   36  52671.0  2017-04-28
42     42  43    Suresh         HR    Male   43      NaN  2022-11-02
43     43  44      Zoya         HR  Female   30  57848.0  2019-12-18
44     44  45  Abhishek    Finance  Female   41  72107.0  2024-02-23
45     45  46      Isha      Sales  Female   38  50666.0  2024-03-03
46     46  47     Omkar      Sales    Male   38  74357.0  2024-06-28
47     47  48     Rohit         HR    Male   41  81663.0  2019-11-05
48     48  49    Sanjay      Sales    Male   33      NaN  2024-09-13
49     49  50     Jatin      Sales  Female   28  56370.0  2020-03-17

         City  Experience  Rating
0        Pune         4.1     2.5
1        Pune         4.1     4.8
2   Bengaluru         7.5     3.6
3        Pune         9.1     4.9
4   Bengaluru         9.0     4.9
5         NaN         8.0     4.6
6         NaN         6.8     3.2
7     Kolkata         1.8     3.5
8   Bengaluru         2.5     4.6
9        Pune         9.1     3.3
10     Jaipur         6.5     2.9
11    Kolkata         1.1     3.9
12       Pune         1.9     4.8
13      Delhi         7.0     4.2
14        NaN         1.0     3.9
15     Jaipur         2.4     2.7
16     Jaipur         5.9     4.0
17    Kolkata         7.2     5.0
18     Mumbai         6.9     2.9
19     Jaipur         3.0     3.8
20      Delhi         7.4     4.7
21  Bengaluru         3.1     NaN
22       Pune         3.9     4.2
23      Delhi         7.7     NaN
24      Delhi         6.8     3.4
25     Mumbai         8.6     3.2
26    Kolkata         6.9     4.5
27    Kolkata         6.1     4.5
28    Chennai         1.8     4.7
29     Mumbai         4.3     4.8
30  Bengaluru         3.4     3.8
31    Kolkata         3.2     3.8
32       Pune         9.8     4.5
33     Jaipur         4.5     4.1
34     Mumbai         9.0     4.3
35     Jaipur         6.7     4.5
36      Delhi         8.2     4.7
37       Pune         5.5     3.3
38       Pune         6.2     NaN
39      Delhi         5.4     2.7
40     Mumbai         2.8     3.9
41      Delhi         7.5     2.6
42     Jaipur         3.5     3.7
43    Chennai         1.2     3.9
44       Pune         6.8     3.2
45  Hyderabad         2.6     4.0
46  Hyderabad         9.5     NaN
47        NaN         9.6     2.6
48  Bengaluru         9.2     NaN
49        NaN         4.3     3.4